# Ignore node_modules directory
node_modules/

# Ignore compiled TypeScript files
*.js
*.js.map

# Ignore the build directory (if used for compiled output)
/build/

# Ignore environment-specific configuration files
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# Ignore npm-debug.log files
npm-debug.log*

# Ignore yarn debug log files
yarn-debug.log*
yarn-error.log*

# Ignore TypeScript definition files
*.d.ts

# Ignore editor-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
